
CREATE DATABASE Kredia
 
USE Kredia


CREATE TABLE [dbo].[Dega](
	[Emri] [varchar](50) NOT NULL,
	[Qyteti_Id] [int] NOT NULL,
	[Assetet] [money] NOT NULL,
 CONSTRAINT [PK_Dega] PRIMARY KEY CLUSTERED 
(
	[Emri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


CREATE TABLE [dbo].[Depozitor](
	[Llogaria_Id] [int] NOT NULL,
	[Klienti_Id] [int] NOT NULL,
 CONSTRAINT [PK_Depozitor] PRIMARY KEY CLUSTERED 
(
	[Llogaria_Id] ASC,
	[Klienti_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Klienti]    Script Date: 24/12/20 10:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Klienti](
	[Klienti_Id] [int] IDENTITY(1,1) NOT NULL,
	[Emri] [varchar](50) NOT NULL,
	[Mbiemri] [varchar](50) NOT NULL,
	[Qyteti_Id] [int] NULL,
 CONSTRAINT [PK_Klienti] PRIMARY KEY CLUSTERED 
(
	[Klienti_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/*** Object:  Table [dbo].[Kredia]    Script Date: 24/12/20 10:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kredia](
	[Kredia_Id] [int] IDENTITY(1,1) NOT NULL,
	[Emri_Deges] [varchar](50) NOT NULL,
	[Bilanci] [money] NOT NULL,
 CONSTRAINT [PK_Kredia] PRIMARY KEY CLUSTERED 
(
	[Kredia_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KrediMarresi]    Script Date: 24/12/20 10:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KrediMarresi](
	[Kredia_Id] [int] NOT NULL,
	[Klienti_Id] [int] NOT NULL,
 CONSTRAINT [PK_KrediMarresi] PRIMARY KEY CLUSTERED 
(
	[Kredia_Id] ASC,
	[Klienti_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Llogaria]    Script Date: 24/12/20 10:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Llogaria](
	[Llogaria_Id] [int] IDENTITY(1,1) NOT NULL,
	[Emri_Deges] [varchar](50) NOT NULL,
	[Bilanci] [money] NOT NULL,
 CONSTRAINT [PK_Llogaria] PRIMARY KEY CLUSTERED 
(
	[Llogaria_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Qyteti]    Script Date: 24/12/20 10:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Qyteti](
	[Qyteti_Id] [int] IDENTITY(1,1) NOT NULL,
	[Emri] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Qyteti] PRIMARY KEY CLUSTERED 
(
	[Qyteti_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Dega] ([Emri], [Qyteti_Id], [Assetet]) VALUES (N'Banka Ekonomike', 1, 8700.0000)
INSERT [dbo].[Dega] ([Emri], [Qyteti_Id], [Assetet]) VALUES (N'BKT Banka', 5, 10200.0000)
INSERT [dbo].[Dega] ([Emri], [Qyteti_Id], [Assetet]) VALUES (N'BPB Prishtine', 1, 11500.0000)
INSERT [dbo].[Depozitor] ([Llogaria_Id], [Klienti_Id]) VALUES (1, 1)
INSERT [dbo].[Depozitor] ([Llogaria_Id], [Klienti_Id]) VALUES (2, 3)
INSERT [dbo].[Depozitor] ([Llogaria_Id], [Klienti_Id]) VALUES (3, 6)
SET IDENTITY_INSERT [dbo].[Klienti] ON 

INSERT [dbo].[Klienti] ([Klienti_Id], [Emri], [Mbiemri], [Qyteti_Id]) VALUES (1, N'Burim', N'Gashi', 1)
INSERT [dbo].[Klienti] ([Klienti_Id], [Emri], [Mbiemri], [Qyteti_Id]) VALUES (2, N'Agon', N'Buja', 2)
INSERT [dbo].[Klienti] ([Klienti_Id], [Emri], [Mbiemri], [Qyteti_Id]) VALUES (3, N'Albulena', N'Hamiti', 2)
SET IDENTITY_INSERT [dbo].[Klienti] OFF
SET IDENTITY_INSERT [dbo].[Kredia] ON 

INSERT [dbo].[Kredia] ([Kredia_Id], [Emri_Deges], [Bilanci]) VALUES (1, N'Banka Ekonomike', 5600.0000)
INSERT [dbo].[Kredia] ([Kredia_Id], [Emri_Deges], [Bilanci]) VALUES (2, N'BPB Prishtine', 4000.0000)
INSERT [dbo].[Kredia] ([Kredia_Id], [Emri_Deges], [Bilanci]) VALUES (3, N'NLB Banka Prishtine', 2650.0000)
SET IDENTITY_INSERT [dbo].[Kredia] OFF
INSERT [dbo].[KrediMarresi] ([Kredia_Id], [Klienti_Id]) VALUES (1, 1)
INSERT [dbo].[KrediMarresi] ([Kredia_Id], [Klienti_Id]) VALUES (1, 2)
INSERT [dbo].[KrediMarresi] ([Kredia_Id], [Klienti_Id]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Llogaria] ON 

INSERT [dbo].[Llogaria] ([Llogaria_Id], [Emri_Deges], [Bilanci]) VALUES (1, N'Banka Ekonomike', 2500.0000)
INSERT [dbo].[Llogaria] ([Llogaria_Id], [Emri_Deges], [Bilanci]) VALUES (2, N'BKT Banka', 6000.0000)
INSERT [dbo].[Llogaria] ([Llogaria_Id], [Emri_Deges], [Bilanci]) VALUES (3, N'NLB Banka Gjakove', 7400.0000)
SET IDENTITY_INSERT [dbo].[Llogaria] OFF
SET IDENTITY_INSERT [dbo].[Qyteti] ON 

INSERT [dbo].[Qyteti] ([Qyteti_Id], [Emri]) VALUES (1, N'Prishtine')
INSERT [dbo].[Qyteti] ([Qyteti_Id], [Emri]) VALUES (2, N'Lipjan')
INSERT [dbo].[Qyteti] ([Qyteti_Id], [Emri]) VALUES (3, N'Gjakove')
SET IDENTITY_INSERT [dbo].[Qyteti] OFF
ALTER TABLE [dbo].[Dega]  WITH CHECK ADD  CONSTRAINT [FK_Dega_Qyteti] FOREIGN KEY([Qyteti_Id])
REFERENCES [dbo].[Qyteti] ([Qyteti_Id])
GO
ALTER TABLE [dbo].[Dega] CHECK CONSTRAINT [FK_Dega_Qyteti]
GO
ALTER TABLE [dbo].[Depozitor]  WITH CHECK ADD  CONSTRAINT [FK_Depozitor_Klienti] FOREIGN KEY([Klienti_Id])
REFERENCES [dbo].[Klienti] ([Klienti_Id])
GO
ALTER TABLE [dbo].[Depozitor] CHECK CONSTRAINT [FK_Depozitor_Klienti]
GO
ALTER TABLE [dbo].[Depozitor]  WITH CHECK ADD  CONSTRAINT [FK_Depozitor_Llogaria] FOREIGN KEY([Llogaria_Id])
REFERENCES [dbo].[Llogaria] ([Llogaria_Id])
GO
ALTER TABLE [dbo].[Depozitor] CHECK CONSTRAINT [FK_Depozitor_Llogaria]
GO
ALTER TABLE [dbo].[Klienti]  WITH CHECK ADD  CONSTRAINT [FK_Klienti_Qyteti] FOREIGN KEY([Qyteti_Id])
REFERENCES [dbo].[Qyteti] ([Qyteti_Id])
GO
ALTER TABLE [dbo].[Klienti] CHECK CONSTRAINT [FK_Klienti_Qyteti]
GO
ALTER TABLE [dbo].[Kredia]  WITH CHECK ADD  CONSTRAINT [FK_Kredia_Dega] FOREIGN KEY([Emri_Deges])
REFERENCES [dbo].[Dega] ([Emri])
GO
ALTER TABLE [dbo].[Kredia] CHECK CONSTRAINT [FK_Kredia_Dega]
GO
ALTER TABLE [dbo].[KrediMarresi]  WITH CHECK ADD  CONSTRAINT [FK_KrediMarresi_Kredia] FOREIGN KEY([Kredia_Id])
REFERENCES [dbo].[Kredia] ([Kredia_Id])
GO
ALTER TABLE [dbo].[KrediMarresi] CHECK CONSTRAINT [FK_KrediMarresi_Kredia]
GO
ALTER TABLE [dbo].[KrediMarresi]  WITH CHECK ADD  CONSTRAINT [FK_KrediMarresi_KrediMarresi] FOREIGN KEY([Klienti_Id])
REFERENCES [dbo].[Klienti] ([Klienti_Id])
GO
ALTER TABLE [dbo].[KrediMarresi] CHECK CONSTRAINT [FK_KrediMarresi_KrediMarresi]
GO
ALTER TABLE [dbo].[Llogaria]  WITH CHECK ADD  CONSTRAINT [FK_Llogaria_Dega] FOREIGN KEY([Emri_Deges])
REFERENCES [dbo].[Dega] ([Emri])
GO
ALTER TABLE [dbo].[Llogaria] CHECK CONSTRAINT [FK_Llogaria_Dega]

--1
Select * 
from Kredia k inner join KrediMarresi km
on k.Kredia_Id = km.Kredia_Id 
where km.Klienti_Id = 
					(Select Klienti_Id
					FROM Klienti
					Where Emri = 'Burim' and Mbiemri = 'Gashi' )

--2
Select k.Emri,k.Mbiemri,l.Emri_Deges,l.Bilanci
from Klienti k inner join Depozitor d
on k.Klienti_Id = d.Klienti_Id inner join Llogaria l
on l.Llogaria_Id = d.Llogaria_Id
Where l.Bilanci < 
				(Select avg(Bilanci) 
				from Llogaria);

--3
Select *
from Klienti k inner join Depozitor d
on k.Klienti_Id = d.Klienti_Id
where k.Qyteti_Id = 
				(Select Qyteti_Id
				from Qyteti
				Where Emri = 'Lipjan')

--4
Select * 
from Klienti k inner join KrediMarresi km
on k.Klienti_Id = km.Klienti_Id inner join Kredia kr
on km.Kredia_Id = kr.Kredia_Id
where kr.Bilanci =
				(select min(Bilanci)
				from Kredia)
				
--5
Select q.Qyteti_Id, q.Emri,
	(select count(Emri)
	from Dega
	where Qyteti_Id = q.Qyteti_Id) 
	as Deget 
	from Qyteti q

--6 
Insert into Dega (Emri,Qyteti_Id,Assetet)
values ('BKT Ferizaj',4,17000),
		('BPB Peje',5,12500)

Select * from Dega		

Select * from Qyteti
Select * from Dega